.otsikko
{
    padding: 1rem 0rem 1rem 0rem;
    border-bottom: 2px solid #205493;
}

.otsikko h4
{
    margin: 0rem;
    font-size: 3rem;
    color: #205493;
    padding: 0.25rem 0rem;
    font-family: 'Times New Roman', Times, serif;
}

.valikko
{
    border-bottom: 2px solid #CD2026;
}

.valikko div
{
    padding: 0rem;
}

.valikko div a
{
    width: 100%;
    color: black;
    display: block;
    text-align: center;
    font-size: 1.25rem;
    padding: 0.5rem 0rem 0.5rem 0rem;
    transition: background-color 0.1s, color 0.1s;
}

.valikko div a:hover
{
    color: white;
    background-color: #205493;
}

.valikko div a.selected
{
    background-color: #CD2026;
}

.uutisia
{
    margin-top: 2rem;
}

.uutisia div
{
    height: 35rem;
}

.sin
{
    background-color: #e1f3f8;
}

.pun
{
    background-color: #f9dede;
}

img
{
    width: 100%;
}

iframe
{
    width: 100%;
    height: 32rem;
}

/* Tablet CSS */

@media screen and (max-width: 1024px)
{
    .pun:nth-child(4)
    {
        background-color: #e1f3f8;
    }

    .pun:nth-child(4) img
    {
        width: auto;
        height: 25rem;
    }

    .otsikko h4
    {
        font-size: 2rem;
    }

    .sin:nth-child(3)
    {
        background-color: #f9dede;
    }
}

/* Phone CSS */

@media screen and (max-width: 640px)
{
    .pun:nth-child(4)
    {
        background-color: #f9dede;
    }

    .sin:nth-child(3)
    {
        background-color: #e1f3f8;
    }
    
    .otsikko h4
    {
        font-size: 1.75rem;
    }
}