.otsikko
{
    padding: 1rem 0rem 1rem 0rem;
    border-bottom: 2px solid darkblue;
}

.otsikko h4
{
    color: darkblue;
}

.valikko div a 
{
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}