.otsikko
{
    padding: 1rem 0rem 1rem 0rem;
    border-bottom: 2px solid #205493;
}

.otsikko h4
{
    color: #205493;
}

.valikko
{
    border-bottom: 2px solid #CD2026;
}

.valikko div
{
    padding: 0rem;
}

.valikko div a
{
    width: 100%;
    color: black;
    display: block;
    text-align: center;
    font-size: 1.25rem;
    padding: 0.5rem 0rem 0.5rem 0rem;
    transition: background-color 0.1s;
}

.valikko div a:hover
{
    background-color: #D6D7D9;
}

img
{
    width: 100%;
}

iframe
{
    width: 100%;
    height: 32rem;
)
